# Archivos de Python innecesarios
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos SQLite (si usas PostgreSQL, este archivo no es necesario)
BiblioParque.db

# Archivos de entorno
.env
*.log

# Configuración de entornos virtuales
venv/
env/

# Configuración de IDEs
.vscode/
.idea/

# Archivos generados por Celery (si aplican)
celerybeat-schedule
celerybeat.pid

# Archivos estáticos y media (si los generas en producción)
staticfiles/
media/

# Migraciones innecesarias (solo si no quieres versionarlas)
**/migrations/*.py
!**/migrations/__init__.py
