{%extends 'principal.html'%}
{%block title%}funcionamiento{%endblock%}
{%block content%}
<div class="contaier" style=" margin-top: .8rem; margin-bottom: 1rem;">
    <div class="titulo" style="padding: 15px;">
        <h2>¿Cómo funciona?</h2>
    </div>
    <div class="cuerpo" style=" margin: 1rem; margin-right: auto; width: 100%; height: auto;">
        
        <img src="../static/css/iconos/logo2.png" alt="" class="imagen" style="            margin-right: 1.5rem;">
        <h4>BiblioParque Sur ahora cuenta con un sistema digital que facilita el registro de visitas al parque. El proceso es rápido, sencillo y pensado para mejorar tu experiencia.</h4>
        <br>

        <h3>1. Regístrate una sola vez</h3>
        <p>Crea tu cuenta proporcionando tus datos básicos. Este registro inicial nos permite identificarte como visitante frecuente.</p>
        <br>

        <h3>2. Visita con solo tu correo electrónico</h3>
        <p>Una vez registrado, no necesitas llenar formularios cada vez que vengas. Solo proporciona tu correo al ingresar y tu visita quedará automáticamente registrada</p>
        <br>

        <h3>3. Mejor control, mejor servicio</h3>
        <p>Este sistema nos ayuda a llevar un control más preciso del uso del parque, permitiéndonos mejorar las actividades, servicios y recursos que ofrecemos.</p>
        <br>


    </div>
    <style>
        h3, p, h4{
            margin-right: 15px;
        }
        h4{
            font-size: 1.15rem;
            font-weight: 700;
        }
        h3{
            font-size: 1.12rem;
            font-weight: 600;
        }
        p{
            font-size: 1rem;
        }
        .imagen{
            width: 340px;
            height: 300px;
            float: right;
            margin: 0 0 0 1rem;
            border-radius: 15px;
            margin-right: 1.5rem;

        }

    </style>
</div>
{%endblock%}