{%extends 'principal.html'%}
{%block title%}Reguistrar Visita{%endblock%}
{%block content%}
    <main>
        <div class="main">

            <!--Formulario-->
            <form id="form" method="post" action="{% url 'inicio_secion' %}" >
                {% csrf_token %}
                <!--Titulos-->
                <h2>Registro de Visita</h2>
                <h3>Ingrese los datos necesarios</h3>

             <!--Regsitros ya estilados -->
                <div class="input_grub">
                    <label for="correo-curp">Ingrese su correo o CURP: </label>
                    <input type="text" name="coreo_curp" id="name" placeholder="Correo - CURP" minlength="3" maxlength="100" required>

                    <label for="parque">Seleccione el parque al que ingresa: </label>
                        <select id="parque" name="parque">
                            <option value="Gimnasio Municipal">Gimnasio Municipal</option>
                            <option value="BiblioParque Norte">BiblioParque Norte</option>
                            <option value="BiblioParque sur">BiblioParque sur</option>
                            <option value="Multideportivo el Sarape">Multideportivo el Sarape</option>
                            <option value="Unidad Deportiva Carlos R. Gonzáles">Unidad Deportiva Carlos R. Gonzáles</option>
                            <option value="Unidad Deportiva Jesús Carranza">Unidad Deportiva Jesús Carranza</option>
                            <option value="Parque los Nogales">Parque los Nogales</option>
                            <option value="Unidad Benito Juárez">Unidad Benito Juárez</option>
                            <option value="Alberca Municipal Saltillo 2000">Alberca Municipal Saltillo 2000</option>
                        </select>     

                    <label for="Actividad que relizara">Actividad que realizara:</label>
                    <select id="actividad" name="actividad">
                        <option value="Canchas deportivas">Canchas deportivas</option>
                            <option value="Canchas Rapidas">Canchas Rapidas</option>
                            <option value="Areas Verdes">Areas Verdes</option>
                            <option value="Evento">Evento</option>
                            <option value="Biblioteca">Biblioteca</option>
                            <option value="Área de entrenamiento fisico">Área de entrenamiento fisico</option>
                            <option value="Otro">Otro</option>
                    </select>  

                </div>
                <input class="btn" type="submit" value="Enviar" style="background-color: rgb(0, 255, 76);">
                
                
                
            </form>
{% if messages %}
    <script>
        {% for message in messages %}
            alert("{{ message|escapejs }}");
        {% endfor %}
    </script>
{% endif %}
    <style>
    </style>
{%endblock%}

