{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <link type='text/css' rel='stylesheet' href='{% static "css/registro_visitas.css" %}'/>
    <link type='text/css' rel='stylesheet' href='{% static "css/buscador_registros.css" %}'/>
    <link type='text/css' rel='stylesheet' href='{% static "css/eleccion.css" %}'/> 

    <title> {%block title%} Paguina de inicio {%endblock%} </title>

    <!--<link type='text/css' rel='stylesheet' href='{% static "css/" %}'/>-->
</head>
<body>
    <header>
        <div class="left">
            <div class="menu-container">
                <div class="menu" id="menu">
                    <div ></div>
                    <div ></div>
                    <div ></div>
                </div>
            </div>
            <div class="brand">
                <img src="../static/css/iconos/logo2.png" alt="icono-undemy" class="logo" >
                <span class="name">BiblioWeb</span>
            </div>

        </div>
        <!--
        <div class="right" >
            <a href="#" class="icons-header">
                <img src="../static/css/iconos/chat.svg" alt="">
            </a>
            <a href="#" class="icons-header">
                <img src="../static/css/iconos/question.svg" alt="">
            </a>
            <a href="#" class="icons-header">
                <img src="../static/css/iconos/notification.svg" alt="">
            </a>
        </div>
        -->
    </header>
    <div class="sidebar" id="sidebar">
        <nav>
            <ul>
                <li>
                    <a href="{%url 'principal'%}" class="selected">
                        <img src="../static/css/iconos/home.svg" alt="">
                        <span>Pagina de Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'registro_usuario' %}">
                        <img src="../static/css/iconos/usuario.png" alt="">
                        <span>Reguistrar usuario</span>
                    </a>
                </li>
                <li>
                    <a href="{%url 'eleccion'%}">
                        <img src="../static/css/iconos/icons8-visita-64.png" alt="">
                        <span>Reguistrar Visita</span>
                    </a>
                </li>
                <li>
                    <a href="{%url 'recuperar' %}">
                        <img src="../static/css/iconos/restaurar.png" alt="">
                        <span>Recuperar Datos</span>
                    </a>
                </li>
                <li>
                    <a href="{%url 'funcionamiento'%}">
                        <img src="../static/css/iconos/ayudar.png" alt="">
                        <span>¿Cómo funciona?</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <main class="main" id="main">
      
        {%block content%}
        <div class="contaier">
            <div class="titulo">
                <h2>BIBLIOPARQUE SUR</h2>
            </div>
            <div class="cuerpo">

                
                <img src="../static/css/iconos/biblio.jpg" alt="" class="imagen">
                <p class="p-imagen">
                    El BiblioParque Sur es un espacio público diseñado para fomentar la convivencia, el aprendizaje y el bienestar de la comunidad. Más que un parque, es un punto de encuentro donde se integran la recreación, la cultura y la educación en un entorno seguro y accesible para personas de todas las edades.
                    Ubicado en el sur de la ciudad, el BiblioParque cuenta con amplias áreas verdes, canchas deportivas, juegos infantiles y espacios techados ideales para realizar actividades tanto al aire libre como bajo techo. 
                </p>

                <br>
                <p style="    font-weight: 550;">
                    Además de sus instalaciones físicas, el BiblioParque Sur ofrece una variada programación de actividades y talleres gratuitos o de bajo costo, que van desde clases de baile, guitarra y computación, hasta actividades artísticas como modelado con plastilina, manualidades y lectura. Estos talleres están dirigidos a niños, jóvenes y adultos, promoviendo la participación de toda la comunidad en actividades culturales, educativas y recreativas.
                    Esta página web tiene como propósito facilitar y automatizar el registro de visitantes que acuden regularmente al parque. Si deseas conocer más sobre cómo funciona este sistema, puedes consultar la sección "¿Cómo funciona?" en la barra lateral o hacer clic <a href="{%url 'funcionamiento'%}">Aquí</a>.
                </p>
            </div>
            <br>
            <div class="footer">
                <a href="https://www.google.com/maps/place/Biblioparque+Sur,+Blvd.+Otilio+Zurdo+Galv%C3%A1n,+Sin+Nombre+de+Col+22,+25086+Saltillo,+Coah./@25.3892794,-101.0132494,17z/data=!3m1!4b1!4m6!3m5!1s0x8688731d69034dff:0x3a092c49488ab450!8m2!3d25.3892794!4d-101.0132494!16s%2Fg%2F11bbrgfwlg?entry=ttu&g_ep=EgoyMDI1MDUyMS4wIKXMDSoASAFQAw%3D%3D"><img src="../static/css/iconos/minimapa.jpg" alt="" class="minimapa"></a>
                <p>
                    Blvd. Otilio Zurdo Galván, Sin Nombre de Col 22, 25086 Saltillo, Coah.
                </p>
            </div>
        </div>
        {%endblock%}
    </main>



    <script src="{%static 'js/principal.js' %}"></script>
    <script src="{% static 'js/errores.js' %}"></script>
    <script src="{% static 'js/buscador.js' %}"></script>
    <script src="{% static 'js/registro_usuario.js' %}"></script>
</body>
</html>