{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <link type='text/css' rel='stylesheet' href='{% static "css/registros.css" %}'/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Visita</title>
</head>
<body>
    <header>
        <!-- Cabecera -->
    </header>
    <main>
        <div class="main">

        
            <form id="form" method="post" action="{% url 'registro_visita' %}" >
                {% csrf_token %}
                <h2>Registro de Visita</h2>
                <h3>Ingrese los datos necesarios</h3>
            
                <div class="input_grub">
                    <label for="name">Ingrese su nombre: </label>
                    <input type="text" name="nombre" id="name" placeholder="Nombre" minlength="3" maxlength="100" required>

                    <label for="edad">Ingrese su edad:</label>
                    <input type="number" name="edad" id="edad" placeholder="Edad" required min='0' max='120'>

                    <label>Ingrese su Sexo:</label>
                    <div class="radio-group">
                        <label>
                            <input type="radio" name="sexo" value="M" required> Hombre
                        </label>
                        <label>
                            <input type="radio" name="sexo" value="F" required> Mujer
                        </label>
                    </div>
        

                

                <label for="colonia">A que Colonia pertenece:</label>
                <select   id="colonia" name="colonia">
                    <option value="10 de Abril">10 de Abril</option>
                    <option value="10 de Mayo">10 de Mayo</option>
                    <option value="10 de Octubre">10 de Octubre</option>
                    <option value="12 de Octubre">12 de Octubre</option>
                    <option value="15 de Abril">15 de Abril</option>
                    <option value="15 de Septiembre">15 de Septiembre</option>
                    <option value="1° de Mayo">1° de Mayo</option>
                    <option value="23 de Noviembre">23 de Noviembre</option>
                    <option value="26 de Marzo">26 de Marzo</option>
                    <option value="26 de Marzo 2o Sect.">26 de Marzo 2o Sect.</option>
                    <option value="5 de Mayo">5 de Mayo</option>
                    <option value="Acueducto">Acueducto</option>
                    <option value="Adolfo Lopez Mateos">Adolfo Lopez Mateos</option>
                    <option value="Agua Azul">Agua Azul</option>
                    <option value="Águila de Oro">Aguila de Oro</option>
                    <option value="Agua Nueva">Agua Nueva</option>
                    <option value="Alameda">Alameda</option>
                    <option value="Álamos">Álamos</option>
                    <option value="Albatros">Albatros</option>
                    <option value="Alfredo V Bonfil">Alfredo V Bonfil</option>
                    <option value="Alondra">Alondra</option>
                    <option value="Alpes">Alpes</option>
                    <option value="Alpes Norte">Alpes Norte</option>
                    <option value="América">América</option>
                    <option value="Amistad">Amistad</option>
                    <option value="Amistad Alianzas">Amistad Alianzas</option>
                    <option value="Amistad II">Amistad II</option>
                    <option value="Ampliación Palma">Ampliación Palma</option>
                    <option value="Ampliación Morelos">Ampliación Morelos</option>
                    <option value="Ampliación Villas de San Lorenzo">Ampliación Villas de San Lorenzo</option>
                    <option value="Anáhuac">Anáhuac</option>
                    <option value="Antonio Cárdenas">Antonio Cárdenas</option>
                    <option value="Antonio Cárdenas Sur">Antonio Cárdenas Sur</option>
                    <option value="Arboledas">Arboledas</option>
                    <option value="Arboledas Popular">Arboledas Popular</option>
                    <option value="Arcos de Belén">Arcos de Belén</option>
                    <option value="Asturias">Asturias</option>
                    <option value="Australia">Australia</option>
                    <option value="Avícola">Avícola</option>
                    <option value="Azteca">Azteca</option>
                    <option value="Balcones de Bellavista">Balcones de Bellavista</option>
                    <option value="Balcones de la Aurora">Balcones de la Aurora</option>
                    <option value="Balcones de Landin">Balcones de Landin</option>
                    <option value="Balcones de las Torres">Balcones de las Torres</option>
                    <option value="Balcones de Morelos">Balcones de Morelos</option>
                    <option value="Barrio Santa Anita">Barrio Santa Anita </option>
                    <option value="Bellavista">Bellavista</option>
                    <option value="Bellavista Mesa de Arizpe">Bellavista Mesa de Arizpe</option>
                    <option value="Benito Juárez">Benito Juárez</option>
                    <option value="Bonanza">Bonanza</option>
                    <option value="Brisas del Valle">Brisas del Valle</option>
                    <option value="Brisas II">Brisas II</option>
                    <option value="Brisas Poniente">Brisas Poniente</option>
                    <option value="Buena Visita">Buena Vista</option>
                    <option value="Buenos Aires">Buenos Aires</option>
                    <option value="Bugambilas">Bugambilas</option>
                    <option value="Burócratas de Estado">Burocratas del Estado</option>
                    <option value="Burócratas Municipales">Burócratas Municipales</option>
                    <option value="Camino Real">Camino Real</option>
                    <option value="Campestre Cepellanía">Campestre Cepellanía</option>
                    <option value="Campestre la Poza">Campestre la Poza</option>
                    <option value="Campo Verde">Campo Verde</option>
                    <option value="Candelarias">Candelarias</option>
                    <option value="Candelarias 2o Sector">Candelarias 2o Sector</option>
                    <option value="Cd. las Torres Segundo Sector">Cecilia Ocealli de Salinas </option>
                    <option value="Cecilia Ocealli de Salinas">Cecilia Ocealli de Salinas</option>
                    <option value="Centenario">Centenario</option>
                    <option value="Centro Metropolitano">Centro Metropolitano</option>
                    <option value="Cerrada Guadalupe">Cerrada Guadalupe</option>
                    <option value="Cerritos">Cerritos</option>
                    <option value="Cerro del Pueblo">Cerro del Pueblo</option>
                    <option value="Chamizal">Chamizal</option>
                    <option value="Chapultepec">Chapultepec</option>
                    <option value="Chapultepec 2o Sector">Chapultepec 2o Sector</option>
                    <option value="Cima de Virreyes">Cima de Virreyes</option>
                    <option value="Cipreses">Cipreses</option>
                    <option value="Ciqa">Ciqa</option>
                    <option value="Ciudad las Torres">Ciudad las Torres</option>
                    <option value="Ciudad Mirasierra">Ciudad Mirasierra</option>
                    <option value="Ciudad Mirasierra 2a Etapa">Ciudad Mirasierra 2a Etapa</option>
                    <option value="Ciudad Sanitaria">Ciudad Sanitaria</option>
                    <option value="Colibrí">Colibrí</option>
                    <option value="Colinas del sur">Colinas del Sur</option>
                    <option value="Colinas de San Francisco">Colinas de San Francisco</option>
                    <option value="Colinas de San Lorenzo">Colinas de San Lorenzo</option>
                    <option value="Condesa">Condesa</option>
                    <option value="Condesa Poniente">Condesa Poniente</option>
                    <option value="Conejo Ixtlero">Conejo Ixtlero</option>
                    <option value="Conjunto Deimos Lourdes">Conjunto Deimos Lourdes</option>
                    <option value="Conquistadores">Conquistadores</option>
                    <option value="Conquistadores II">Conquistadores II</option>
                    <option value="Contry Club">Contry Club</option>
                    <option value="Cruz del Aire">Cruz del Aire</option>
                    <option value="Cumbres">Cumbres</option>
                    <option value="Cumbres Residencial">Cumbres Residencial</option>
                    <option value="Deimos">Deimos</option>
                    <option value="Del Valle III">Del Valle III</option>
                    <option value="Diana Laura Riojas de Colosio">Diana Laura Riojas de Colosio</option>
                    <option value="Doctores">Doctores</option>
                    <option value="Doctores III Etapa">Doctores III Etapa</option>
                    <option value="Ejercito Constitucionalista">Ejercito Constitucionalista</option>
                    <option value="Ejidal">Ejidal</option>
                    <option value="El Álamo">El Álamo</option>
                    <option value="El Álamo II">El Álamo II</option>
                    <option value="El Álamo III">El Álamo III</option>
                    <option value="El Baluarte">El Baluarte</option>
                    <option value="El Bosque">El Bosque</option>
                    <option value="El Campanario">El Campanario</option>
                    <option value="El Cerrito">El Cerrito</option>
                    <option value="El Latifundio">El Latifundio</option>
                    <option value="El Mimbre">El Mimbre</option>
                    <option value="El Morillo">El Morillo</option>
                    <option value="El Nogalar">El Nogalar</option>
                    <option value="El Olmo">El Olmo</option>
                    <option value="El Paraíso">El Paraíso</option>
                    <option value="El Pedregal">El Pedregal</option>
                    <option value="El Progreso">El Progreso</option>
                    <option value="El Rodeo">El Rodeo</option>
                    <option value="El Rosario">El Rosario</option>
                    <option value="El Salvador">El Salvador</option>
                    <option value="El Sáuz">El Sáuz</option>
                    <option value="El Tanquecito">El Tanquecito</option>
                    <option value="El Toreo">El Toreo</option>
                    <option value="Emiliano Zapata">Emiliano Zapata</option>
                    <option value="Emilio Carranza">Emilio Carranza</option>
                    <option value="Esther Santos"> Esther Santos</option>
                    <option value="Europa">Europa</option>
                    <option value="Evaristo Arriola Pérez">Evaristo Arriola Pérez</option>
                    <option value="Ex Hacienda los Cerritos">Ex Hacienda los Cerritos</option>
                    <option value="Federico Berrueto Ramón">Federico Berrueto Ramón</option>
                    <option value="Federico Berrueto Ramón Popular">Federico Berrueto Ramón Popular</option>
                    <option value="Ferrocarrilero">Ferrocarrilero</option>
                    <option value="Ferrocarrilero 7 de Noviembre">Ferrocarrilero 7 de Noviembre</option>
                    <option value="Flora Ortega">Flora Ortega</option>
                    <option value="FOVISSSTE Virreyes">FOVISSSTE Virreyes</option>
                    <option value="Francisco I Madero">Francisco I Madero</option>
                    <option value="Francisco I Madero Rústico">Francisco I Madero Rústico</option>
                    <option value="Francisco Villla">Francisco Villa</option>
                    <option value="Froylán Mier Narro">Froylán Mier Narro</option>
                    <option value="Fundadores">Fundadores</option>
                    <option value="Fundadores de la Libertad">Fundadores de la Libertad</option>
                    <option value="Fundadores III Sector">Fundadores III Sector</option>
                    <option value="Gaspar Valdez">Gaspar Valdez</option>
                    <option value="Genaro Vázquez Rojas">Genaro Vázquez Rojas</option>
                    <option value="Girasol">Girasol</option>
                    <option value="Girasol 2da Etapa">Girasol 2da Etapa</option>
                    <option value="González Cepeda">González Cepeda</option>
                    <option value="González Norte">González Norte</option>
                    <option value="Guadalupe Victoria">Guadalupe Victoria/option>
                    <option value="Guanajuato">Guanajuato</option>
                    <option value="Guanajuato Oriente">Guanajuato Oriente</option>
                    <option value="Guayulera">Guayulera</option>
                    <option value="Guayulera Tierra y Esperanza">Guayulera Tierra y Esperanza</option>
                    <option value="Gastavo Diaz Ordaz">Gustavo Diaz Ordaz</option>
                    <option value="Guatavo Espinosa Mireles">Gustavo Espinosa Mireles</option>
                    <option value="Hacienda del Refugio">Hacienda del Refugio</option>
                    <option value="Hacienda de Peña">Hacienda de Peña</option>
                    <option value="Hacienda de Cortijo">Hacienda de Cortijo</option>
                    <option value="Hacienda las Magueyada">Hacienda la Magueyada</option>
                    <option value="Hacienda las Isabeles">Hacienda las Isabeles</option>
                    <option value="Hacienda Real">Hacienda Real</option>
                    <option value="Hacienda San Carlos">Hacienda San Carlos</option>
                    <option value="Hacienda San Rafael">Hacienda San Rafael</option>
                    <option value="Hacienda San Pablo">Hacienda San Pablo</option>
                    <option value="Héroes de Chapultepec">Héroes de Chapultepec</option>
                    <option value="Huerta los Pilares">Huerta los Pilares</option>
                    <option value="Huerta de San Lorenzo">Huerta de San Lorenzo</option>
                    <option value="Huertas de Venacio">Huertas de Venacio</option>
                    <option value="Huerto de Flores">Huerto de Flores</option>
                    <option value="Humberto Dávila Esquivel">Humberto Dávila Esquivel</option>
                    <option value="Ignacio Allende">Ignacio Allende</option>
                    <option value="Ignacio Zaragosa 1er Sector">Ignacio Zaragosa 1er Sector</option>
                    <option value="Ignacio Zaragosa 3er Sector">Ignacio Zaragosa 3er Sector</option>
                    <option value="Ignacio Zaragosa II Sector">Ignacio Zaragosa II Sector</option>
                    <option value="Ignacio Zaragosa IV Sector">Ignacio Zaragosa IV Sector</option>
                    <option value="Ignacio Zaragosa Popular">Ignacio Zaragosa Popular</option>
                    <option value="Independencia">Independencia</option>
                    <option value="Industrial Valle de Saltillo">Industrial Valle de Saltillo</option>
                    <option value="Ing. Eulalio Gutiérrez Treviño">Ing. Eulalio Gutiérrez Treviño</option>
                    <option value="Insurgentes">Insurgentes</option>
                    <option value="Introductores de Ganado">Introductores de Ganado</option>
                    <option value="Isabel Amalia Dávila">Isabel Amalia Dávila</option>
                    <option value="Isabel Amalia de Flores Tapia">Isabel Amalia de Flores Tapia</option>
                    <option value="ISSSTE">ISSSTE</option>
                    <option value="Jacarandas Jardín">Jacarandas Jardín</option>
                    <option value="Jardín">Jardín</option>
                    <option value="Jardines Coloniles">Jardines Coloniales</option>
                    <option value="Jardines del Lago">Jardines del Lago</option>
                    <option value="Jardines de los Bosques">Jardines de los Bosques</option>
                    <option value="Jardines del Valle">Jardines del Valle</option>
                    <option value="Jardines de Versalles">Jardines de Versalles</option>
                    <option value="Jardines de Versalles 2da Etapa">Jardines de Versalles 2da Etapa</option>
                    <option value="Jardín Oriente">Jardín Oriente</option>
                    <option value="Jesús Cabello">Jesus Cabello</option>
                    <option value="Jesús Garcia Corona">Jesús Garcia Corona</option>
                    <option value="Josefa Ortiz de Domínges">Josefa Ortiz de Domínges</option>
                    <option value="Juanbert">Juanbert</option>
                    <option value="Julieta Pérez">Julieta Pérez</option>
                    <option value="Kiosco">Kiosco</option>
                    <option value="Kiosco 2do Sector">Kiosco 2do Sector</option>
                    <option value="Kiosco III">Kiosco III</option>
                    <option value="La Angostura">La Angostura</option>
                    <option value="La Aurora">La Aurora</option>
                    <option value="La Central">La Central</option>
                    <option value="La Cineguita">La Cineguita</option>
                    <option value="La Ciudadela">La Ciudadela</option>
                    <option value="Ladrilleros">Ladrilleros</option>
                    <option value="La Esmeralda"> La Esperanza</option>
                    <option value="La Estrella">La Estrella</option>
                    <option value="La Florencia">La Florencia</option>
                    <option value="La Florida">La Florida</option>
                    <option value="La Fragua">La Fragua</option>
                    <option value="La Fuente">La Fuente</option>
                    <option value="La Fuente 2da Ampliación">La Fuente 2da Ampliación</option>
                    <option value="Lagos Continentales">Lagos Continentales</option>
                    <option value="La Herradura">La Herradura</option>
                    <option value="La Hibernia">La Hibernia</option>
                    <option value="La Joyita">La Joyita</option>
                    <option value="La Libertad del Puente">La Libertad del Puente</option>
                    <option value="La Madrid">La Madrid</option>
                    <option value="La Minita">La Minita</option>
                    <option value="La Morita">La Morita</option>
                    <option value="Landin">Landin</option>
                    <option value="Landín Ampliación">Landín Ampliación</option>
                    <option value="La Nogalera">La Nogalera</option>
                    <option value="La Noria">La Noria</option>
                    <option value="La Palma">La Palma</option>
                    <option value="La Palmilla">La Palmilla</option>
                    <option value="La Peñita">La Peñita</option>
                    <option value="La Purísima">La Purísima</option>
                    <option value="La Romita">La Romita</option>
                    <option value="La Rosa">La Rosa</option>
                    <option value="La Rosaleda">La Rosaleda</option>
                    <option value="La Salle">La Salle</option>
                    <option value="Las Brisas">Las Brisas</option>
                    <option value="Las Cabañas">Las Cabañas</option>
                    <option value="las Coquetas">Las Coquetas</option>
                    <option value="Las Cumbres">Las Cumbres</option>
                    <option value="Las Flores">Las Flores</option>
                    <option value="Las Flores II">Las Flores II</option>
                    <option value="Las Haciendas">Las Haciendas</option>
                    <option value="Las Huertas">Las Huertas</option>
                    <option value="Las Huertas de Lourdes">Las Huertas de Lourdes</option>
                    <option value="Las Magnolias">Las Magnolias</option>
                    <option value="Las Maravillas">Las Maravillas</option>
                    <option value="Las Margaritas">Las Margaritas</option>
                    <option value="Las Misiones">Las Misiones</option>
                    <option value="Las Mitras">Las Mitras</option>
                    <option value="La Soledad y El Refugio">La Soledad y El Refugio</option>
                    <option value="Las Praderas">Las Praderas</option>
                    <option value="Las Praderas III">Las Praderas III</option>
                    <option value="Las Quintas">Las Quintas</option>
                    <option value="Las Rosas">Las Rosas</option>
                    <option value="Las Teresitas">Las Teresitas</option>
                    <option value="Latinoamerica">Latinoamerica</option>
                    <option value="Latinoamerica Norte">Latinoamerica Norte</option>
                    <option value="Lázaro Cárdenas">Lázaro Cárdenas</option>
                    <option value="Leandro Valle">Leandro Valle</option>
                    <option value="Loma Alta">Loma Alta</option>
                    <option value="Loma Blanca">Loma Blanca</option>
                    <option value="Loma Bonita">Loma Bonita</option>
                    <option value="Loma Bonita 2">Loma Bonita 2</option>
                    <option value="Loma de Santa Anita">Loma de Santa Anita</option>
                    <option value="Loma Linda">Loma Linda</option>
                    <option value="Lomas de Chapultepec">Lomas de Chapultepec</option>
                    <option value="Lomas de Landín">Lomas de Landín</option>
                    <option value="Lomas del Bosque">Lomas del Bosque</option>
                    <option value="Lomas de Lourdes">Lomas de Lourdes</option>
                    <option value="Lomas del Pedregal">Lomas del Pedregal</option>
                    <option value="Lomas del Refugio">Lomas del Refugio</option>
                    <option value="Lomas del Sur">Lomas del Sur</option>
                    <option value="Lomas de San Francisco">Lomas de San Francisco</option>
                    <option value="Lomas de San Javier">Lomas de San Javier</option>
                    <option value="Lomas de Santa Cruz">Lomas de Santa Cruz</option>
                    <option value="Lomas de Zapaliname">Lomas de Zapaliname</option>
                    <option value="Lomas Verdes">Lomas Verdes</option>
                    <option value="Lomas Verdes 2da Etapa">Lomas Verdes 2da Etapa</option>
                    <option value="Los Adobes">Los Adobes</option>
                    <option value="Los Alamitos">Los Alamitos</option>
                    <option value="Los Álamos">Los Álamos</option>
                    <option value="Los Algodones">Los Algodones</option>
                    <option value="Los Ángeles">Los Ángeles</option>
                    <option value="Los Arcos">Los Arcos</option>
                    <option value="Los Arrayanes">Los Arrayanes</option>
                    <option value="Los Balcones">Los Balcones</option>
                    <option value="Los Balcones de Buenavista">Los Balcones de Buenavista</option>
                    <option value="Los Berros">Los Berros</option>
                    <option value="Los Buitres">Los Buitres</option>
                    <option value="Los Buitres II">Los Buitres II</option>
                    <option value="Los Cedros">Los Cedros</option>
                    <option value="Los Cerritos">Los Cerritos</option>
                    <option value="Los Cuernitos">Los Cuernitos</option>
                    <option value="Los Doctores">Los Doctores</option>
                    <option value="Los Fresnos">Los Fresnos</option>
                    <option value="Los Geranios">Los Geranios</option>
                    <option value="Los Gonzáles">Los Gonzáles</option>
                    <option value="Los Lirios">Los Lirios</option>
                    <option value="Los Maestros">Los Maestros</option>
                    <option value="Los Manantiales">Los Manantiales</option>
                    <option value="Los Molinos">Los Molinos</option>
                    <option value="Los Nogales II">Los Nogales II</option>
                    <option value="Los Olivos">Los Olivos</option>
                    <option value="Los Parques">Los Parques</option>
                    <option value="Los Periodistas">Los Periodistas</option>
                    <option value="Los Pinos">Los Pinos</option>
                    <option value="Los Pinos 1er Sector">Los Pinos 1er Sector</option>
                    <option value="Los Pinos 2do Sector">Los Pinos 2do Sector</option>
                    <option value="Los Reales">Los Reales</option>
                    <option value="Los Rodriguez">Los Rodriguez</option>
                    <option value="Los Rosario Popular">Los Rosario Popular</option>
                    <option value="Los Siller">Los Siller</option>
                    <option value="Los Tulipanes">Los Tulipanes</option>
                    <option value="Los Valdez">Los Valdez</option>
                    <option value="Lourdes">Lourdes</option>
                    <option value="Lucio Blanco">Lucio Blanco</option>
                    <option value="Magisterio">Magisterio</option>
                    <option value="Magisterio Sección 38">Magisterio Seccion 38</option>
                    <option value="María del Carmen Cabello">Maria del Carmen Cabello</option>
                    <option value="María del Carmen Cavazos">María del Carmen Cavazos</option>
                    <option value="María de León">María de León</option>
                    <option value="María Lusia">María Lusia</option>
                    <option value="Mario Ortiz Rodríguez">Mario Ortiz Rodríguez</option>
                    <option value="Mesa de Lourdes">Mesa de Lourdes</option>
                    <option value="Miguel Hidalgo">Miguel Hidalgo</option>
                    <option value="Mirador">Mirador</option>
                    <option value="Miravalle">Miravalle</option>
                    <option value="Misión Cerritos">Misión Cerritos</option>
                    <option value="Morelos">Morelos</option>
                    <option value="Morelos Nueva Creación">Morelos Nueva Creación</option>
                    <option value="Nazario S Ortiz Garza">Nazario S Ortiz Garza</option>
                    <option value="Nazario S. Ortiz Garza">Nazario S. Ortiz Garza</option>
                    <option value="Niños Heroes">Niños Heroes</option>
                    <option value="Nogalar del Campestre">Nogalar del Campestre</option>
                    <option value="Nuestra Señora Fátima">Nuestra Señora Fátima</option>
                    <option value="Nueva Aurora">Nueva Aurora</option>
                    <option value="Nueva España">Nueva España</option>
                    <option value="Nueva Imagen">Nueva Imagen</option>
                    <option value="Nueva Independencia">Nueva Independencia</option>
                    <option value="Nueva Jerusalén">Nueva Jerusalén</option>
                    <option value="Nueva Reforma">Nueva Reforma</option>
                    <option value="Nueva Tlaxcala">Nueva Tlaxcala</option>
                    <option value="Nuevo Amanecer">Nuevo Amanecer</option>
                    <option value="Nuevo México">Nuevo México</option>
                    <option value="Nuevo Mirasierra 1a Etapa">Nuevo Mirasierra 1a Etapa</option>
                    <option value="Nueva Mirasierra 2da Etapa">Nueva Mirasierra 2da Etapa</option>
                    <option value="Nuevo Mirasierra 3ra Etapa">Nuevo Mirasierra 3ra Etapa</option>
                    <option value="Nuevo Progreso">Nuevo Progreso</option>
                    <option value="Nuevo Saltillo">Nuevo Saltillo</option>
                    <option value="Nuevo Teresitas">Nuevo Teresitas</option>
                    <option value="Oasis">Oasis</option>
                    <option value="Obrera">Obrera</option>
                    <option value="Oceania">Oceania</option>
                    <option value="Oceanía Boulevares">Oceanía Boulevares</option>
                    <option value="Ojo de Agua">Ojo de Agua</option>
                    <option value="Omega">Omega</option>
                    <option value="Oscar Flores Tapia">Oscar Flores Tapia</option>
                    <option value="Palacio de Gobierno del Estado Coahuila">Palacio de Gobierno del Estado Coahuila</option>
                    <option value="Panteones">Panteones</option>
                    <option value="Parajes de la Sierra">Parajes de la Sierra</option>
                    <option value="Parajes del Oriente">Parajes del Oriente</option>
                    <option value="Parajes de Santa Elena">Parajes de Santa Elena</option>
                    <option value="Parque Industrial Amistad">Parque Industrial Amistad</option>
                    <option value="Parque Industrial las Torres">Parque Industrial las Torres</option>
                    <option value="Parque Industrial Mega">Parque Industrial Mega</option>
                    <option value="Parque las Maravillas">Parque las Maravillas</option>
                    <option value="Parques de la Cañada">Parques de la Cañada</option>
                    <option value="Patria Libre">Patria Libre</option>
                    <option value="Patria Nueva">Patria Nueva</option>
                    <option value="Plaza">Plaza</option>
                    <option value="Portal de Aragon">Portal de Aragon</option>
                    <option value="Portal de las Lomas">Portal de las Lomas</option>
                    <option value="Portal de los Agaves">Portal de los Agaves</option>
                    <option value="Portal del Pedregal">Portal del Pedregal</option>
                    <option value="Portal del Quijote">Portal del Quijote</option>
                    <option value="Portal del Sur">Portal del Sur</option>
                    <option value="Portal de Santiago">Portal de Santiago</option>
                    <option value="Portales">Portales</option>
                    <option value="Portareal">Portareal</option>
                    <option value="Postal Cerritos">Postal Cerritos</option>
                    <option value="Privada Albatros">Privada Albatros</option>
                    <option value="Privada Beta Centuaro">Privada Beta Centuaro</option>
                    <option value="Privada Ciudad las Torres 2do Sector">Privada Ciudad las Torres 2do Sector</option>
                    <option value="Privada Coahuila">Privada Coahuila</option>
                    <option value="Privada Coahuila y Zacatecas">Privada Coahuila y Zacatecas</option>
                    <option value="Privada Coloniales">Privada Coloniales</option>
                    <option value="Privada de San Javier">Privada de San Javier</option>
                    <option value="Privada España">Privada España</option>
                    <option value="Privada Francisco I. Madero"> Privada Francisco I. Madero</option>
                    <option value="Privada Guadalupe">Privada Guadalupe</option>
                    <option value="Privada la Campana">Privada la Campana</option>
                    <option value="Privada la Misión">Privada la Misión</option>
                    <option value="Privada los Magueyes">Privada los Magueyes</option>
                    <option value="Privada Morelos">Privada Morelos</option>
                    <option value="Privada Quinta Narro">Privada Quinta Narro</option>
                    <option value="Privada Rincón de Salazar">Privada Rincón de Salazar</option>
                    <option value="Privadas de Santiago">Privadas de Santiago</option>
                    <option value="Privadas la Torre">Privadas la Torre</option>
                    <option value="Privadas Luxemburgo">Privadas Luxemburgo</option>
                    <option value="Privadas Sierras del Oriente">Privadas Sierras del Oriente</option>
                    <option value="Privadas Sierras del Oriente">Privadas Sierras del Oriente</option>
                    <option value="Privada Tulipanes">Privadas Tulipanes</option>
                    <option value="Providencia">Providencia</option>
                    <option value="Pueblo Insurgentes">Pueblo Insurgentes</option>
                    <option value="Puerta de Oriente">Puerta de Oriente</option>
                    <option value="Puerta de Oriente 2da Etapa">Puerta de Oriente 2da Etapa</option>
                    <option value="Puerta del Rey">Puerta del Rey</option>
                    <option value="Puerta del Sol">Puerta del Sol</option>
                    <option value="Puerto de Flores">Puerto de Flores</option>
                    <option value="Puerto de la Virgen">Puerto de la Virgen</option>
                    <option value="Quinta Esmeralda">Quinta Esmeralda</option>
                    <option value="Quinta Guadalupe">Quinta Guadalupe</option>
                    <option value="Quinta Real">Quinta Real</option>
                    <option value="Quinta Valle">Quinta Valle</option>
                    <option value="Rancho de Peña">Rancho de Peña</option>
                    <option value="Rancho de Flores">Rancho de Flores</option>
                    <option value="Rancho las Varas">Rancho las Varas</option>
                    <option value="Real del Sol">Real del Sol</option>
                    <option value="Real de Peña">Real de Peña</option>
                    <option value="Real de Peña">Real de Peña</option>
                    <option value="Real Villas de la Aurora">Real Villas de la Aurora</option>
                    <option value="Recreativo Sección 38">Recreativo Seccion 38</option>
                    <option value="República">República</option>
                    <option value="República Norte">República Norte</option>
                    <option value="República Oriente">República Oriente</option>
                    <option value="República Poniente">República Poniente</option>
                    <option value="Residencial El Tapanco">Residencial El Tapanco</option>
                    <option value="Residencial los Rosales">Residencial  los Rosales</option>
                    <option value="Residencial Mirador">Residencial Mirador</option>
                    <option value="Ricardo Flores Magón">Ricardo Flores Magón</option>
                    <option value="Rinconada de la Hibernia">Rinconada de la Hibernia</option>
                    <option value="Rincón de Guadalupe">Rincón de Guadalupe</option>
                    <option value="Rincón de la Florida">Rincón de la Florida</option>
                    <option value="Rincón de san Vicente">Rincón de Vicente</option>
                    <option value="Rincón de Sayavedra">Rincon de Sayavedra</option>
                    <option value="Rincones de la Aurora">Rincones de la Aurora</option>
                    <option value="Rosa Maria Gutiérrez">Rosa Maria Gutiérrez</option>
                    <option value="Rubén Jaramillo">Rubén de Jaramillo</option>
                    <option value="Ruiz Cortines">Ruiz Cortines</option>
                    <option value="Salomon Abedrop">Salomon Abedrop</option>
                    <option value="Saltillo 2000">Saltillo 2000</option>
                    <option value="Saltillo 400">Saltillo 400</option>
                    <option value="Saltillo Zona Centro">Saltillo Zona Centro</option>
                    <option value="San Alberto">San Alberto</option>
                    <option value="San Ángel">San Ángel</option>
                    <option value="San Esteban">San Esteban</option>
                    <option value="San Ignacio">San Ignacio</option>
                    <option value="San Isidro">San Isidro</option>
                    <option value="San Jerónimo">San Jerónimo</option>
                    <option value="San Jóse">San Jóse</option>
                    <option value="San Jóse de las Flores">San Jóse de las Flores</option>
                    <option value="San Jóse de los Cerritos">San Jóse de los Cerritos</option>
                    <option value="San Jóse Oriente">San Jóse Oriente</option>
                    <option value="San Juanita">San Juanita</option>
                    <option value="San Lorenzo">San Lorenzo</option>
                    <option value="San Lorenzo Oriente">San Lorenzo Oriente</option>
                    <option value="San Juanita">San Juanita</option>
                    <option value="San Lorenzo">San Lorenzo</option>
                    <option value="San Lorenzo Oriente">San Lorenzo Oriente</option>
                    <option value="San Luis">San Luis</option>
                    <option value="San Miguel">San Miguel</option>
                    <option value="San Patricio">San Patricio</option>
                    <option value="San Patricio Plus">San Patricio Plus</option>
                    <option value="San Pedro de los Pinos">San Pedro de los Pinos</option>
                    <option value="San Ramón">San Ramón</option>
                    <option value="Santa Anita">Santa Anita</option>
                    <option value="Santa Bárbara">Santa Bárbara</option>
                    <option value="Santa Cristina">Santa Cristina</option>
                    <option value="Santa Cristina Oriente">Santa Cristina Oriente</option>
                    <option value="Santa Fe">Santa Fe</option>
                    <option value="Santa Lucia">Santa Lucia</option>
                    <option value="Santa María">Santa María</option>
                    <option value="Santa Rosa">Santa Rosa</option>
                    <option value="Santa Teresa">Santa Teresa</option>
                    <option value="Santiago">Santiago</option>
                    <option value="San Vicente">San Vicente</option>
                    <option value="Satélite Norte">Satélite Norte</option>
                    <option value="Satélite Norte II">Satélite Norte II</option>
                    <option value="Satélite Sur">Satélite Sur</option>
                    <option value="Satélite Sur 2do Sector">Satélite Sur 2do Sector</option>
                    <option value="Satélite Sur 3er Sector">Satélite Sur 3er Sector</option>
                    <option value="Segovia Gil">Segovia Gil</option>
                    <option value="Sierra Blanca">Sierra Blanca</option>
                    <option value="Sierras del Poniente">Sierras del Poniente</option>
                    <option value="Sierras del Sur">Sierras del Sur</option>
                    <option value="Simón Bolívar">Simón Bolívar</option>
                    <option value="Solidaridad">Solidaridad</option>
                    <option value="Tecnológico">Tecnológico</option>
                    <option value="Terranova">Terranova</option>
                    <option value="Tierra y Libertad">Tierra y Libertad</option>
                    <option value="Topo Chico">Topo Chico</option>
                    <option value="Torrecillas y Ramones">Torrecillas y Ramones</option>
                    <option value="Tulipanes 2da Etapa">Tulipanes 2da Etapa</option>
                    <option value="Tulipanes 4ta Etapa">Tulipanes 4ta Etapa</option>
                    <option value="Unidad Habitacional Militar">Unidad Habitacional Militar</option>
                    <option value="Unidad Modelo">Unidad Modelo</option>
                    <option value="Universidad">Universidad</option>
                    <option value="Universidad la Salle">Universidad la Salle</option>
                    <option value="Universidad Norte">Universidad Norte</option>
                    <option value="Universidad Pueblo">Universidad Pueblo</option>
                    <option value="Universo">Universo</option>
                    <option value="Urdiñola">Urdiñola</option>
                    <option value="Valencia">Valencia</option>
                    <option value="Valle Alto">Valle Alto</option>
                    <option value="Valle Azteca">Valle Azteca</option>
                    <option value="Valle de las Aves">Valle de las Aves</option>
                    <option value="Valle de las Flores INFONAVIT">Valle de las Flores INFONAVIT</option>
                    <option value="Valle de las Flores Popular">Valle de las Flores Popular</option>
                    <option value="Valle de las Palmas">Valle de las Palmas</option>
                    <option value="Valle de las Torres">Valle de las Torres</option>
                    <option value="Valle de las Torrecillas II">Valle de las Torres II</option>
                    <option value="Valle de los Virreyes">Valle de los Virreyes</option>
                    <option value="Valle de Lourdes">Valle de Lourdes</option>
                    <option value="Valle de Morelos">Valle de Morelos</option>
                    <option value="Valle de San Antonio">Valle de San Antonio</option>
                    <option value="Valle de San Lorenzo">Valle de San Lorenzo</option>
                    <option value="Valle de San Ramón">Valle de San Ramón/option>
                    <option value="Valle de Santa Elena">Valle de Santa Elena</option>
                    <option value="Valle Dorado">Valle Dorado</option>
                    <option value="Valle Escondido">Valle Escondido</option>
                    <option value="Valle Escondido del Sur">Valle Escondido del Sur</option>
                    <option value="Valle Hermoso">Valle Hermoso</option>
                    <option value="Valle las Palmas">Valle las Palmas</option>
                    <option value="Valle Real Primer Sector">Valle Real Primer Sector</option>
                    <option value="Valle San Agustin">Valle San Agustin</option>
                    <option value="Valle Satélite">Valle Satélite</option>
                    <option value="Valle Universidad">Valle Universidad</option>
                    <option value="Valle Verde">Valle Verde</option>
                    <option value="Valle Verde Sector II">Valler Verde Sector II</option>
                    <option value="Venustiano Carranza">Venustiano Carranza</option>
                    <option value="Vicente Guerrero">Vicente Guerrero</option>
                    <option value="Villa Bonita">Villa Bonita</option>
                    <option value="Villa del Carmen">Villa del Carmen</option>
                    <option value="Villa de Santiago">Villa de Santiago</option>
                    <option value="Villa Fundadores">Villa Fundadores</option>
                    <option value="Villa Magna">Villa Magna</option>
                    <option value="Villa Morelos">Villa Morelos</option>
                    <option value="Villa Olímpica">Villa Olímpica</option>
                    <option value="Villa Olímpica Orinte">Villa Olímpica Orinte</option>
                    <option value="Villas de Aranjuez">Villas de Aranjuez</option>
                    <option value="Villas de Guadalupe">Villas de Guadalupe</option>
                    <option value="Villas de la Aurora">Villas de la Aurora</option>
                    <option value="Villas del Camino Real">Villas del Camino Real</option>
                    <option value="Villas del Ranchito">Villas del Ranchito</option>
                    <option value="Villas de San Carlos">Villas de San Carlos</option>
                    <option value="Villas de San Gabriel">Villas de San Gabriel</option>
                    <option value="Villas de San Isidro">Villas de San Isidro</option>
                    <option value="Villas de San Lorenzo">Villas de San Lorenzo</option>
                    <option value="Villas de San Miguel">Villas de San Miguel</option>
                    <option value="Villas de San Sebastián">Villas de Sebastián</option>
                    <option value="Villas la Angostura">Villas la Angostura</option>
                    <option value="Villa Toscana">Villa Toscana</option>
                    <option value="Villa Universidad">Villa Universidad</option>
                    <option value="Villa Vergel">Villa Vergel</option>
                    <option value="Villa Vergel 2da Etapa">Villa Vergel 2da Etapa</option>
                    <option value="Virramontes">Virramontes</option>
                    <option value="Virreyes Colonial">Virreyes Colonial</option>
                    <option value="Virreyes Industrial">Virreyes Industrial</option>
                    <option value="Virreyes Obrera">Virreyes Obrera</option>
                    <option value="Virreyes Pensiones">Virreyes Pensiones</option>
                    <option value="Virreyes Popular">Virreyes Popular</option>
                    <option value="Virreyes Residencial">Virreyes Residencial</option>
                    <option value="Vista Hermosa">Vista Hermosa</option>
                    <option value="Zamora">Zamora</option>
                    <option value="Zapaliname">Zapaliname</option>           
                    <option value="Zapateros">Zapateros</option>
                    <option value="Zona Industrial">Zona Industrial</option>

                </select>

                <!-- Grupo de botones de radio para discapacidad -->
                <label>Padece alguna discapacidad:</label>
                <div class="radio-group">
                    <label for="discapacidad">
                        <input type="radio" name="discapacidad" id="discapacidad" value="si">Sí
                    </label>
                    <label for="discapacidad">
                        <input type="radio" name="discapacidad" id="discapacidad" value="no">No
                    </label>
                </div>

                <label for="actividad">Tipo de actividad que realizara:</label>
                <select id="actividad" name="actividad">
                    <option value="visita">Visita</option>
                    <option value="porra">Porra</option>
                    <option value="biblioteca">Biblioteca</option>
                    <option value="Cursos">Cursos</option>

                </select>

                <input class="btn" type="submit" value="Enviar" style="background-color: rgb(0, 255, 76);">
                <label style='display:none;' for="fecha_hora">Fecha y Hora:</label>
                <input type="datetime-local" id="fecha_hora" name="fecha_hora" style='display:none;'>
              </div>
         </form>
        </div>
    </main>

    <script text="text/javascript" src='{%static "js/registros.js" %}'></script> 
</body>
</html>
