{%extends 'principal.html'%}
{%block title%}Visita Guardada{%endblock%}
{%block content%}

  <div class="body">
      <div class="contenedor">
          <h1>Visita Registrada</h1>
          <p>
            Tu visita ha sido registrada exitosamente. Gracias por formar parte de nuestras actividades en el BiblioParque Sur. Puedes seguir explorando o regresar al inicio cuando lo desees.
          </p>
          <div class="botones">
              <a href="{%url 'principal'%}">Inicio</a>
          </div>
      </div>
  </div>

{%endblock%}